p {
    font-family: 'Asul';
}

.hideme
{
    opacity:0;
}

h1 {
    font-family: 'Candal';
}

.jumbotron h1 {
  font-weight: 300;
  color: white;
  font-size: 3em;
  font-size: 7.5rem;
  text-align: center;
}


.jumbotron {
  background-image: url("back3.jpeg");
  background-size: cover;
}

#banner {
  background-image: url(http://i.imgur.com/3Jghy1M.jpg);
  background-size: cover;
  background-position: center;
  height: 46rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner h1 {
  font-family: 'Carter One';
  font-weight: 300;
  color: white;
  font-size: 3em;
  font-size: 7.5rem;
}

#side-img {
    
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999; 
}
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 #about-section {
   background-color: #FFFFFF;
   padding: 10px;
 }
 #website-section {
   background-color: #F8FBFE;
   padding: 10px;
 }
 #music-section {
   background-color: #E3E5E7;
   padding: 10px;
 }
 #site1 {
   background-color: blue;
 }
 #site2 {
   background-color: yellow;
 }
 #site3 {
   background-color: red;
 }

 #about-section {
   font-size: 1.5em;
 }

#title {
    font-family: 'Candal';
}
